header {
    background: linear-gradient(90deg, #1B5E20, #43A047);
    width: 100%;
    padding: 20px;
}

.formulario{
    width: 350px;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.timer-container, #confirmacao{
    width: 100%;
    text-align: center;
}

#countdown{
    font-size: 36px;
    font-weight: bold;
    color: #1B5E20;
}

input, select, button{
    width: 250px;
    height: 40px;
    box-sizing: border-box;
}

select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
}

#formAluno{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

input{
    
    width: 250px;
    height: 40px;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    
}

input:focus{
    outline: none;
    border: 2px solid #2E7D32;
    box-shadow: 0 0 5px rgba(46,125,50,0.3);
}

button{
    padding: 10px;
    background-color: #1B5E20;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    height: 45px;
}

input, button{
    width: 250px;
    height: 40px;
    box-sizing: border-box;
}

button:hover{
    background-color: #2E7D32;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #1B5E20;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        #F8FFF8 0%,
        #E8F5E9 100%
    );
}


#logoFasipe {
    display: block;     
    margin-right: auto;
    margin-left: auto;
    width: 15%;
}

footer{
    text-align: center;
    padding: 20px;
    background: #1B5E20;
    color: white;
}

#Oi {
    text-align: center;
    font-size: 100px;
}